.container {
  margin: 0 auto;
  width: 60%;
  background-color: darkgray;
}

.arr-method {
  background-color: lightyellow;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.method-name {
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
}

h1,
h2,
h3,
h4 {
  font-family: Lato;
  text-align: center;
}

ul {
  background-color: lightcyan;
}

ul li {
  list-style: none;
  padding: 5px;
}

.name {
  font-weight: bold;
  color: blue;
  display: inline-block;
  width: 100px;

  /* background-color: lightgray; */
}

.price {
  font-weight: normal;
  color: red;
  margin-left: 20px;
}

.price::before {
  content: "$";
}

.mark {
  background-color: white;
  padding: 5px 10px;
  font-family: "Courier New", Courier, monospace;
}
